
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content%}

<style type="text/css">
form {
	
  
  background: rgba(192,192,192,0);
  border: none;
 
  
}

#form2{
	margin-top: 60px;
}
#form2 div{
	margin-bottom: 10px;
}

#form2,
.tabcontrol
{
	width : 90%;
}

</style>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.steps1.css">
        
        <script src="{{ STATIC_URL }}lib/modernizr-2.6.2.min.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.cookie-1.3.1.js"></script>
        <script src="{{ STATIC_URL }}build/jquery.steps.js"></script>
<script>
	$(function (){
	$("#form2").steps({
	    headerTag: "h3",
	    bodyTag: "fieldset",
	    transitionEffect: "slideLeft",
	    onStepChanging: function(event, currentIndex, priorIndex){
	    	
               		
                    return true;
               

                
                
	    },
	    onStepChanged: function (event, currentIndex, priorIndex)
	    {
	        
	    },
	    onFinishing: function (event, currentIndex)
	    {   
	       
        	return true;

    
	    },
	    onFinished: function (event, currentIndex)
	    {
	    	
	        var form = $(this);
	        form.submit();
	    }
		}).validate({
		            errorPlacement: errorPlacement,
		            rules: {
		                
		            }
		        });


	});
</script>


<div class="row">
	<div>
		<div class="content">
		  	<form id="form2" method='post' enctype="multipart/form-data" name="form2">{% csrf_token %}
		  		<h3>First Step</h3>

		  		<fieldset>
		  			<div class="form-group" hidden>
					    <label class="control-label col-sm-4" for="id_user_key">User_key:</label>	    
					    <div class="col-sm-8">
					    	<script type="text/javascript">
					    	alert({{id_user}});
					    	document.getElementById("id_user_key").value = {{ id_user }} - 1;
					    	</script>
					    	{{ P_form.user_key|add_class:"form-control"|attr:"placeholder:user_key" }}
					    </div>
					    <span class="error_message">{{ pi.user_key.errors }}</span>
				  	</div>
				  	
				  	<script>
			    		function photo(){
			    			var a = document.getElementById("id_photo1");
			    			var b = document.getElementById("id_photo2");
			    			a.click();
			    			
						}
			    	</script>
			    	
				  	

				  	<div class="form-group">
				  		<label class="control-label col-sm-4">Photo</label>
				  		<div class="col-sm-8" onclick="photo()">
					    	<img style= "width:30px;height:30px;" src="{{ MEDIA_URL }}upload.jpg"/>
					    	<b>Click here to upload Photo</b><input type="text" id="photo" class="form-control" disabled />
					    </div>
				  	</div>



				  	<div class="form-group" hidden>
					    <label class="control-label col-sm-4" for="id_user_key">Photograph:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.photo1|add_class:"form-control"|attr:"onchange:fn(this.value);" }}
					      <script type="text/javascript">
					      function fn(x){
					      	document.getElementById('photo').value = x;
					      }
					      </script>

					    </div>
					    <span class="error_message">{{ pi.photo1.errors }}</span>
				  	</div>
				  	<div class="form-group" hidden>
					    <label class="control-label col-sm-4" for="id_user_key">Photograph2:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.photo2|add_class:"form-control"|attr:"placeholder:photo2" }}
					    </div>
					    <span class="error_message">{{ pi.photo2.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Height:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.height|add_class:"form-control"|attr:"placeholder:height" }}
					    </div>
					    <span class="error_message">{{ pi.height.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">About me:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.about|add_class:"form-control required"|attr:"placeholder:about" }}
					    </div>
					    <span class="error_message">{{ pi.about.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Highest Education:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.high_edu|add_class:"form-control"|attr:"placeholder:high_edu" }}
					    </div>
					    <span class="error_message">{{ pi.high_edu.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Job Type:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.job|add_class:"form-control"|attr:"placeholder:job" }}
					    </div>
					    <span class="error_message">{{ pi.job.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Door No.:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.dr_no|add_class:"form-control"|attr:"placeholder:dr_no" }}
					    </div>
					    <span class="error_message">{{ pi.dr_no.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">City:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.city|add_class:"form-control"|attr:"placeholder:city" }}
					    </div>
					    <span class="error_message">{{ pi.city.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">District:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.district|add_class:"form-control"|attr:"placeholder:district" }}
					    </div>
					    <span class="error_message">{{ pi.district.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">State:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.state|add_class:"form-control"|attr:"placeholder:state" }}
					    </div>
					    <span class="error_message">{{ pi.state.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Star:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.star|add_class:"form-control"|attr:"placeholder:star" }}
					    </div>
					    <span class="error_message">{{ pi.star.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Raasi:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.raasi|add_class:"form-control"|attr:"placeholder:raasi" }}
					    </div>
					    <span class="error_message">{{ pi.raasi.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Gothram:</label>	    
					    <div class="col-sm-8">
					      {{ P_form.gothram|add_class:"form-control"|attr:"placeholder:gothram" }}
					    </div>
					    <span class="error_message">{{ pi.gothram.errors }}</span>
				  	</div>
		    	</fieldset>


		    	<!-- SECOND STEP STARTS -->

		    	<h3>Second Step</h3>

		  		<fieldset>

		  			<div class="form-group" hidden>
					    <label class="control-label col-sm-4" >User_key:</label>	    
					    <div class="col-sm-8">
					    	<script type="text/javascript">
					    		document.getElementsByClassName('usercode')[0].value = {{ id_user }} - 1;
					    	</script>
					      {{ F_form.user_key|add_class:"form-control usercode"|attr:"placeholder:user_key" }}
					      
					    </div>
					    <span class="error_message">{{ fi.user_key.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">No. of Sisters:</label>	    
					    <div class="col-sm-8">
					      {{ F_form.sister|add_class:"form-control"|attr:"placeholder:sister" }}
					    </div>
					    <span class="error_message">{{ fi.sister.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">No. of Brothers:</label>	    
					    <div class="col-sm-8">
					      {{ F_form.brother|add_class:"form-control"|attr:"placeholder:brother" }}
					    </div>
					    <span class="error_message">{{ fi.brother.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Family Type:</label>	    
					    <div class="col-sm-8">
					      {{ F_form.fam_type|add_class:"form-control"|attr:"placeholder:fam_type" }}
					    </div>
					    <span class="error_message">{{ fi.fam_type.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Parent Phone Number:</label>	    
					    <div class="col-sm-8">
					      {{ F_form.par_phone|add_class:"form-control"|attr:"placeholder:+919876543210" }}
					    </div>
					    <span class="error_message">{{ fi.par_phone.errors }}</span>
				  	</div>
				  	<div class="form-group">
					    <label class="control-label col-sm-4" for="id_user_key">Referred By:</label>	    
					    <div class="col-sm-8">
					      {{ F_form.ref_by|add_class:"form-control"|attr:"placeholder:ref_by" }}
					    </div>
					    <span class="error_message">{{ fi.ref_by.errors }}</span>
				  	</div>
		    	</fieldset>
		    </form>
		</div>
	</div>
</div>


            

    {% endblock %}



