{% extends 'index.html' %}

{% block content %}
<center><h4>மாநில நிர்வாகிகள்</h4></center><hr>
<div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/asokan.jpg" class="img-circle" alt="">
                        <h3>தலைவர்</h3>
                        <h4><span>S.அசோகன் M.A,B.ed,M.A,M.phil</span><br>பள்ளிக்கல்வித்துறை ,</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/thilagar.jpg" class="img-circle" alt="">
                        <h3>பொது செயலாளர்</h3>
                        <h4><span>K.B.G.திலகர் M.A</span><br>அரசு அருங்காட்சியகம்,</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/gnana.jpg" class="img-circle" alt="">
                        <h3>பொருளாளர்</h3>
                        <h4><span>G.ஞானசம்பந்தன் M.A,M.Phil,P.G.D.L.A</span><br>தடயவியல் துறை, </h4>
                    </div>
                </div>
           </div>
<div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/ramarasu.jpg" class="img-circle" alt="">
                        <h3>துணைத்தலைவர்</h3>
                        <h4><span>S.ராமராசு M.A</span><br> தலைமை செயலகம் </h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/vimala.jpg" class="img-circle" alt="">
                        <h3>மகளிர் பிரிவு செயலாளர்</h3>
                        <h4><span>G.விமலா M.A</span><br>வருவாய்த்துறை</h4>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/Krishnan.jpg" class="img-circle" alt="">
                        <h3>தலைமை நிலைய செயலாளர்</h3>
                        <h4><span>P.கிருஷ்ணன்</span> <br>ஊரக வளர்ச்சி துறை </h4>
                    </div>
                </div>
           </div>
            
<div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/natarajan.jpg" class="img-circle" alt="">
                        <h3>துணைத்தலைவர்</h3>
                        <h4><span>P.நடராஜன்</span><br>பள்ளிக்கல்வித்துறை</h4>
                    </div>
                </div>
               
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/kumar.jpg" class="img-circle" alt="">
                        <h3>அமைப்பு செயலாளர்</h3>
                        <h4><span>M.குமார் B.sc,D.C.A</span><br>அரசு தேர்வுகள் துறை</h4>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/mutharappan.jpg" class="img-circle" alt="">
                        <h3>இணை செயலாளர்</h3>
                        <h4><span>M.P.முத்தாரப்பன் </span> <br>நெடுஞ்சாலைத்துறை </h4>
                    </div>
                </div>
           </div>
            

<div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/mahendiravarma.jpg" class="img-circle" alt="">
                        <h3>துணைத்தலைவர்</h3>
                        <h4><span>Dr.T.மகேந்திரவர்மா M.com,M.ed,Phd</span><br>பள்ளிக்கல்வித்துறை</h4>
                    </div>
                </div>
                 
            
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/karunanithi.jpg" class="img-circle" alt="">
                        <h3>பிரச்சார செயலாளர்</h3>
                        <h4><span>V.கருணாநிதி B.tech,MBA</span><br>மின்சார துறை</h4>
                    </div>
                </div>
            
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/jaysankar.jpg" class="img-circle" alt="">
                        <h3>இணை செயலாளர்</h3>
                        <h4><span>E.ஜெய்சங்கர் M.sc,,M.ed,M.phil</span><br>நெடுஞ்சாலைத்துறை</h4>
                    </div>
                </div>
           </div>
           
<div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/nagoor.jpg" class="img-circle" alt="">
                        <h3>தலைமை செயலகம்</h3>
                        <h4><span>G.C.நாகூர் M.A,B.L</span> <br>துணைத்தலைவர் </h4>
                    </div>
                </div>
                 
            
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/thirunandhan.jpg" class="img-circle" alt="">
                        <h3>இணை செயலாளர்</h3>
                        <h4><span>L.திருநந்தன் B.sc</span> <br>தொழிலாளர் நலத்துறை</h4>
                    </div>
                </div>
            
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="/static/images/state/gopal.jpg" class="img-circle" alt="">
                        <h3>ஆலோசகர்</h3>
                        <h4><span>P.V.கோபால்</span><br>தலைமை செயலகம் (ஓய்வு)</h4>
                    </div>
                </div>
           </div>


{% endblock %}