{% extends 'index.html' %}

{% block content %}
<style type="text/css">
    table thead th{
        text-align: center;
    }
</style>
<br>
    <section id="contact-page">
        <div class="alert-info container"><center>
            <!-- <div class="center">         -->
                <h2>State Administrators</h2>
                <!-- <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <!-- </div>  -->
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display:none" >
                 
                </div><!-- alert -->

                 <table border="1" width="800px" >
                     <tr>
                         <thead>
                             <th>S.no</th>
                             <th>Name</th>
                             <th>Designation</th>
                             <th>Mobile</th>
                             <th>Email</th>
                             <th>Address</th>
                             
                         </thead>
                     </tr>
                     <tr>
                     	<td>1</td>
                     	<td>K.B.G.Thilagar</td>
                     	<td></td>
                     	<td></td>
                     	<td></td>
                     	<td></td>
                     </tr>
                 </table>
                 </center>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->


<!-- contact us -->
    <!-- <section id="contact-info"> -->
        <!-- <div class="center">                 -->
            <!-- <h2>How to Reach Us?</h2> -->
            <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
        <!-- </div> -->
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div  class="gmap">
                            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Government+Museum+Chennai,+Chennai,+Tamil+Nadu,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6"><br><br><br>
                                <address>
                                    <h5>Head Office</h5>
                                    <p>Government Museum campus,<br>
                                    Pantheon Road,<br>
                                    Egmore, <br>
                                    Chennai-600 008<br>
                                    Email Address: tngscstewa@gmail.com</p>
                                </address>

                                <!-- <address>
                                    <h5>Zonal Office</h5>
                                    <p>1537 Flint Street <br>
                                    Tumon, MP 96911</p>                                
                                    <p>Phone:670-898-2847 <br>
                                    Email Address:info@domain.com</p>
                                </address> -->
                            </li>


                           <!--  <li class="col-sm-6">
                                <address>
                                    <h5>Zone#2 Office</h5>
                                    <p>1537 Flint Street <br>
                                    Tumon, MP 96911</p>
                                    <p>Phone:670-898-2847 <br>
                                    Email Address:info@domain.com</p>
                                </address>

                                <address>
                                    <h5>Zone#3 Office</h5>
                                    <p>1537 Flint Street <br>
                                    Tumon, MP 96911</p>
                                    <p>Phone:670-898-2847 <br>
                                    Email Address:info@domain.com</p>
                                </address>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

<!-- contact us -->

{% endblock %}