<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Tamilnadu Government SC/ST Employees Welfare Association</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png" href="2.jpg"/>
<meta name="description" content="Tamilnadu Government SC/ST Employees Welfare Association is a non-profit organisation working for Social justice to SC ST government employees">
<meta name="keywords" content="sc/st,tnscst,tngscstewa,Tamilnadu Government SC/ST Employees Welfare Association,sc st federation">
<meta name="author" content="Decoders">
</head>
<style type="text/css">
	html{
		    font-family: "Times New Roman", Times, serif;

	}
	h1{
		color:white;
		font-size:30px;
	}
	h2 {
		font-size:20px;
		color: white;
	}
	h3{
		color:yellow;
		font-size: 15px;
	}
	a{
		font-size: 15px;
	}
	h5{
		font-size: 15px;
	}
	h4{
		font-size: 20px;
		color: #00004e;
	}
	h6{
		font-size: 15px;
		color: #00004e;
	}
	h7{
	font-size: 15px;
	}
</style>
<body>
<nav  id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div style="height:200px;background-color:#0088cc;" class="container-fluid">
    <!-- <center><p>JAI BHEEM</p></center> -->
   
        <div  class="navbar-header"> 
        <!-- <center><a class="navbar-brand" href="#">Tamilnadu sc/st employee welfare association</a></center> -->
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <img  height="200px;" width="160px;" src="2.jpg" alt="ambethkar.jpg" />
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <center> <p style="float:left" >Educate!</p><p style="float:center">Agitate!</p><p style="float:right;">Organise</p>
   </center><br> -->
   <center><h1>தமிழ்நாடு அரசு எஸ்சி/எஸ்டி அலுவலர் நலச்சங்கம்</h1></center>
    <center> <h2> Tamilnadu Government SC/ST Employees Welfare Association </h2></center>
       
      <center><h3>Head office:Government Museum campus, Pantheon Road, Egmore, Chennai-8 </h3> </center>
      <center><h3>Register number-58/1976</h3> </center>
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="http://www.tutorialrepublic.com" target="_blank">Home</a></li>
                <li><a href="http://www.tutorialrepublic.com/about-us.php" target="_blank">About</a></li>
                <li><a href="http://www.tutorialrepublic.com/contact-us.php" target="_blank">Contact</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br><br><br><br><br>
<div class="jumbotron"><marquee  direction="left"><img class="img-thumbnail"  src="new.gif"  /><a style="color:red;font-size:22px;" href="">நமது  இணையதளம் புதிய பொலிவுடனும், பல்வேறு  வசதிகளுடனும் மேம்படுத்தும் பணி நடைபெற்று வருகிறது என்பதை தெரிவித்துக்கொள்கிறோம்- இங்ஙனம் K.B.G.திலகர், பொது செயலாளர்...!</a></marquee>
    <div class="container-fluid">
    <h5>அன்பார்ந்த சகோதர /சகோதரிகளுக்கு வணக்கம்...</h5>
        <p style='font-size: 15px;' >
தமிழ்நாடு அரசில் பணியாற்றும் எஸ்சி/எஸ்டி பணியாளர்கள் அனைவரும் ஒரு முழுமையான , உறுதியான அமைப்பாக மாற வேண்டிய காலகட்டத்தில் நாம் இருக்கிறோம். இதை கருத்தில் கொண்டு மாவட்ட மற்றும் வட்ட கிளைகள் கட்டமைக்கப்பட்டு வருவது தங்கள் அறிந்த ஒன்றே. இதன் ஒரு பகுதியாக நமது அமைப்பிற்கென தனி இணையதளம்  துவங்கப்பட்டு மேம்படுத்தப்பட்டு வருகிறது என்பதை தெரிவித்துக்கொள்கிறோம்..</p>
    </div>
</div><center><h4>மாநில நிர்வாகிகள்</h4></center>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="asokan.jpg" alt="" /> 
        <h6>S.அசோகன் M.A,B.ed,M.A,M.phil</h6>
            <p> தலைவர்,<br />
            பள்ளிக்கல்வித்துறை ,<br />
            No-2B விவேகானந்தா நகர்,<br />
            திண்டிவனம், விழுப்புரம் மாவட்டம்,<br />
            அஞ்சல்:604001<br />
            தொலைபேசி :9486592823<br />
            இமெயில் :asokanmourian@gmail.com<br />
            </p>
            
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="thilagar.jpg" alt="" /> 
            <h6>K.B.G.திலகர் M.A</h6>    
            <p>பொது செயலாளர்,<br />
            அரசு அருங்காட்சியகம், <br /> 
            No-21/5 பொன்னன் தெரு ,<br />
            புரசைவாக்கம், சென்னை -7,<br />
            தொலைபேசி :9444111643<br />
            இமெயில் :kbgthilagar@gmail.com<br />
            இமெயில் :kbgthilagar@yahoo.com<br />
            </p>
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="gnana.jpg" alt="" /> 
            <h6>G.ஞானசம்பந்தன் M.A,M.Phil,P.G.D.L.A</h6>
            <p>பொருளாளர்,<br />
            தடயவியல் துறை, <br />     
            No-804 D-பிரிவு,12th தெரு<br />
            சிண்டிகேட் பேங்க் காலனி, அண்ணாநகர்,சென்னை<br />
            அஞ்சல்:600101<br />
            தொலைபேசி :9444191429<br />
            இமெயில் :ggtamil2007@yahoo.com<br />
            </p>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-4"> 
        <img  height="200px;" width="150px;" src="ramarasu.jpg" alt="" /> 
            <h6>S.ராமராசு M.A</h6>
            <p>துணைத்தலைவர்,<br /> 
            தலைமை செயலகம் ,<br />
            தொலைபேசி :9940350141<br /> 
            </p>
            
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="vimala.jpg" alt="" /> 
            <h6>G.விமலா M.A</h6>
            <p>மகளிர் பிரிவு செயலாளர்,<br /> 
            வருவாய்த்துறை ,<br />
            தொலைபேசி :9442505970<br /> 
            </p>
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="Krishnan.jpg" alt="" /> 
            <h6> P.கிருஷ்ணன்</h6>
            <p>தலைமை நிலைய செயலாளர்,<br />
            ஊரக வளர்ச்சி துறை ,<br />
            தொலைபேசி :<br /> 
            </p>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-4"> 
        <img  height="200px;" width="150px;" src="nadarajan.jpg" alt="" /> 
            <h6>P.நடராஜன்</h6>   
            <p>துணைத்தலைவர்,<br /> 
            பள்ளிக்கல்வித்துறை ,<br />
            தொலைபேசி :<br /> 
            </p>
            
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="kumar.jpg" alt="" /> 
            <h6>M.குமார் B.sc,D.C.A </h6>
            <p>அமைப்பு செயலாளர்,<br />
            அரசு தேர்வுகள் துறை,<br />
            தொலைபேசி :9094098409<br /> 
            </p>
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="mutharappan.jpg" alt="" /> 
            <h6> M.P.முத்தாரப்பன் </h6>
            <p>இணை செயலாளர்,<br />
            நெடுஞ்சாலைத்துறை ,<br />
            தொலைபேசி :9994315631<br /> 
            </p>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-4"> 
        <img  height="200px;" width="150px;" src="mahendiravarma.jpg" alt="" /> 
           <h6>Dr.T.மகேந்திரவர்மா M.com,M.ed,Phd </h6>
            <p>துணைத்தலைவர்,<br /> 
            பள்ளிக்கல்வித்துறை ,<br />
            தொலைபேசி :9551017440<br /> 
            </p>
            
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="Karunanithi photo.jpg" alt="" /> 
            <h6>V.கருணாநிதி B.tech,MBA</h6>
            <p>பிரச்சார செயலாளர் ,<br />
            மின்சார துறை,<br />
            தொலைபேசி :944398142<br /> 
            </p>
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="jaysankar.jpg" alt="" /> 
            <h6> E.ஜெய்சங்கர் M.sc,,M.ed,M.phil</h6>
            <p>இணை செயலாளர்,<br />
            நெடுஞ்சாலைத்துறை ,<br />
            தொலைபேசி :9443072670<br /> 
            </p>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-4"> 
        <img  height="200px;" width="150px;" src="nagoor.jpg" alt="" /> 
            
            <h6>G.C.நாகூர் M.A,B.L </h6>
            <p>துணைத்தலைவர் ,<br /> 
            தலைமை செயலகம் ,<br />
            தொலைபேசி :9500105750<br /> 
            </p>
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="thirunandhan.jpg" alt="" /> 
            <h6>L.திருநந்தன் B.sc</h6>
             <p>இணை செயலாளர்,<br /> 
            தொழிலாளர் நலத்துறை ,<br />
            தொலைபேசி :9245828711<br />  
            </p>
        </div>
        <div class="col-xs-4">
        <img  height="200px;" width="150px;" src="gopal.jpg" alt="" /> 
            <h6>P.V.கோபால்</h6>
            <p>ஆலோசகர் ,<br />
            தலைமை செயலகம் (ஓய்வு),<br />
            தொலைபேசி :9840828057<br /> 
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <footer>
             <center><p>&copy; Copyright 2016 tngscstewa</p></center>   
            </footer>
        </div>
    </div>
</div>
</body>
</html>


                                 		